body {
  color: #436028;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 15px;
  /*same as*/
  padding: 20px, 15px;
  background-color: tan;
  margin: 50px;
}
.center-title {
  margin: 0 auto;
  width: 500px;
}
.box1 {
  border: firebrick;
  border-style: dotted;
  margin: 20px;
  padding: 30px;
}
ul {
  list-style-type: square;
  margin: 0 40px;
  padding: 0 20px;
}

.navigation-link li {
  display: inline;
  margin: 20px;
}

@media (min-width: 1024px) {
  body {
    background-color: palegoldenrod;
    color:plum;
    font-size: 30px;
    line-height: 50px;
  }
}
